layout {
  tab name="nvim" focus=true borderless=true {
    pane
  }

  tab name="shell" borderless=true {
    pane
  }

  default_tab_template {
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_left "{mode} #[fg=#a7c080,bold]{session} {tabs}"
        format_right "{command_bcv} {command_cpu} {command_memo} {datetime}"
        format_space ""
 
        mode_normal "#[bg=#d3c6aa,fg=#2d353b] 󰘵 NORMAL "
        mode_locked "#[bg=#e67e80,fg=#2d353b]  LOCKED "
        mode_tmux "#[bg=#dbbc7f,fg=#2d353b]  TMUX "

        tab_normal "#[fg=#d3c6aa,italic] {name} "
        tab_active "#[bg=#a7c080,fg=#2d353b] #[bg=#a7c080,fg=#2d353b]{name} "

        tab_sync_indicator " "
        tab_fullscreen_indicator "□ "
        tab_floating_indicator "󰉈 "
 
        command_memo_command    "nu -c \"let pagesize_b = (sysctl -n hw.pagesize | into int); let mem_pages = (vm_stat | lines | parse '{metric}: {value}' | where metric in ['Pages active', 'Pages wired down', 'Pages occupied by compressor'] | get value | str replace -a '.' '' | into int | math sum); $mem_pages * $pagesize_b | into filesize\""
        command_memo_format     "#[fg=blue]   {stdout}"
        command_memo_interval   "5"
        command_memo_rendermode "static"
 
        command_cpu_command    "nu -c \"top -l 1 | grep 'CPU usage' | awk '{print 100 - $(NF-1)}'\""
        command_cpu_format     "#[fg=blue]   {stdout}%"
        command_cpu_interval   "5"
        command_cpu_rendermode "static"

        command_bcv_command    "nu -c \"curl -X GET 'https://bcv-api.rafnixg.dev/rates/' | split column ':' | get column2 | split column ',' | get column1 | get 0 | into float\""
        command_bcv_format     "#[fg=blue]  {stdout}"
        command_bcv_interval   "43200"
        command_bcv_rendermode "static"
  
        datetime "#[fg=#d3c6aa,bold] {format} "
        datetime_timezone "America/Caracas"
      }
    }

    children
  }
}
